@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&display=swap");
// font-family: 'Philosopher', sans-serif;

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "SFProDisplay";
  scroll-behavior: smooth;
  scrollbar-color: var(--blue) #f4f0eb; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 7px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #f4f0eb;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 6px;
    &:hover {
      background-color: var(--blue-hov);
    }
  }
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  --blue: #05b4cd;
  --sea-blue: #008295;
  --green: #48bf37;
  --dark-green: #0c9d4f;
  --yellow: #ebb44e;
  --yellow-hov: #dfab4b;
  --orange: #fe5244;
  --beige: #e3c8a7;
  --light-beige: #e7dcd0;
  --black: #000000;
  --white: #ffffff;
  --blue-hov: #00a1b9;
  --light-grey: #8e8e93;
  --cream-white: #f5f5f5;
}
.content {
  margin: 0px auto;
  padding: 0px 10px;
  max-width: 1160px;
}
/*--------------------*/

//sroll top
.scrollTop {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: all ease 0.3s;
}
.scrollTop {
  svg {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    @media (max-width: 768px) {
      max-width: 60px;
      max-height: 60px;
      min-width: 60px;
      min-height: 60px;
    }
  }
  @media (max-width: 991px) {
    right: 5px !important;
    bottom: 10% !important;
  }
}

#myBtn:hover {
}

.programs {
  padding: 15px 0px 90px 0px;
  .logo {
    margin: 0px 0px 23px 0px;
    display: block;
    img {
      max-width: 160px;
      max-height: 41px;
    }
  }
}
.program-title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--black);
  max-width: 513px;
  margin: 0 auto 54px auto;
  @media (max-width: 768px) {
    margin: 0 auto 25px auto;
  }
}
//select

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  max-width: 270px;
  @media (max-width: 768px) {
    max-width: unset;
  }
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: var(--black);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.custom-options {
  position: absolute;
  display: block;
  top: 91%;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  border-radius: 6px;
  visibility: hidden;
  pointer-events: none;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 2;
  scrollbar-color: var(--blue) #f4f0eb; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 2px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #f4f0eb;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 6px;
    &:hover {
      background-color: var(--blue-hov);
    }
  }
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 16px 0px 16px 0px;
  margin: 0px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s;
  border-top: 1px solid #f4f0eb;
}
.custom-option:hover {
  cursor: pointer;
  color: #888888;
}
.custom-option.selected {
  color: #888888;
}

.arrow {
  position: relative;
  height: 13px;
  width: 1px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -7px;
  transform: rotate(-45deg);
  background-color: #888888;
}
.arrow::after {
  left: 2px;
  transform: rotate(45deg);
  background-color: #888888;
}
.open .arrow::before {
  left: -7px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 2px;
  transform: rotate(-45deg);
}

.programs_body {
}

.programs_item {
  .head {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.programs {
  .delivery {
    width: 100%;
    margin: 0px 0px 0px 0px;
    td {
      @media (max-width: 850px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: -0.3px;
        color: var(--black);
        margin: 0px 0px 8px 0px;
      }
    }
  }
  .table {
  }
  .note {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 15px 15px;
    margin: 30px 0px 29px 0px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .perceint-text {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        margin: 0px 0px 10px 0px;
      }
    }
    .perceint {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 120%;
      max-width: 51px;
      letter-spacing: -0.3px;
      color: var(--white);
      background: #05b4cd;
      border-radius: 8px;
      padding: 3px 10px;
      margin: 0px 15px 0px 0px;
    }
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      color: var(--black);
      margin: 0px 20px 0px 0px;
      display: flex;
      align-items: center;
    }
    .que {
      display: flex;
      align-self: center;
      svg {
        max-width: 24px;
        max-height: 24px;
        min-width: 24px;
        min-height: 24px;
        margin: 0px 19px 0px 0px;
      }
    }
  }
}

.th-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #888888;
  text-align: start;
  padding: 0px 0px 6px 0px;
}
.td-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: var(--black);
  .span {
    color: #888888;
  }
}
@media screen and (max-width: 850px) {
  table.delivery thead {
    display: none;
  }
  table.delivery tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table.delivery td {
    display: block;
    text-align: right;
  }
  table.delivery td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 30px;
  margin: 0px 10px 0px 0px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f0eb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.programs_item {
  background: var(--white);
  border-radius: 12px;
  padding: 30px 30px;
  margin: 0px 0px 20px 0px;
  @media (max-width: 768px) {
    padding: 20px 15px;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
    .title-amount {
      display: flex;
      align-items: center;
      width: 100%;
      @media (max-width: 768px) {
        margin: 0px 0px 10px 0px;
      }
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 100%;
        font-family: "Philosopher", sans-serif;
        letter-spacing: -0.3px;
        margin: 0px 10px 0px 0px;
        @media (max-width: 768px) {
          margin: 0px 10px 0px 0px;
          font-size: 25px;
        }
      }
      .amount {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: var(--orange);
        padding: 6px 12px;
        border: 1px solid var(--orange);
        border-radius: 8px;
        @media (max-width: 768px) {
          font-size: 16px;
          padding: 5px 9px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .left {
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        margin: 0px 0px 10px 0px;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: var(--black);
        white-space: nowrap;
        letter-spacing: -0.3px;
      }
      svg {
        margin: 0px 10px 0px 10px;
      }
      .perceint {
        color: var(--sea-blue);
        border: 1px solid var(--sea-blue);
        border-radius: 6px;
        padding: 3px 10px;
        transition: all ease 0.3s;
        cursor: pointer;
        &:hover {
          background-color: var(--sea-blue);
          color: var(--white);
        }
      }
    }
    .middle {
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        margin: 0px 0px 10px 0px;
        width: 100%;
      }
      @media (max-width: 480px) {
        flex-direction: column;
      }
      input {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        padding: 14px 20px;
        width: 270px;
        height: 50px;
        max-width: 270px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #888888;
        margin: 0px 9px 0px 0px;
        @media (max-width: 991px) {
          max-width: unset;
          width: 100%;
        }
        @media (max-width: 480px) {
          margin: 0px 0px 10px 0px;
        }
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 100%;
          color: #888888;
        }
      }
      .apply_btn {
        color: var(--sea-blue);
        padding: 16px 32px;
        background: rgba(5, 180, 205, 0.1);
        height: 50px;
        border-radius: 8px;
        font-size: 18px;
        width: 164px;
        @media (max-width: 480px) {
          width: 100%;
        }
      }
      .on_check {
        padding: 16px 32px;
        background: #d6d2cd;
        height: 50px;
        color: #767069;
        border-radius: 8px;
        font-size: 18px;
        white-space: nowrap;
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
    .choose_btn {
      background: #05b4cd;
      border-radius: 8px;
      padding: 16px 32px;
      height: 50px;
      width: 100%;
      max-width: 140px;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      color: var(--white);
      transition: all ease 0.3s;
      &:hover {
        background: var(--sea-blue);
      }
      @media (max-width: 991px) {
        max-width: unset;
      }
    }
  }
}

//modal1

.modal-block {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.356);
}

.modal-form {
  display: block;
  background-color: var(--white);
  max-width: 560px;
  margin: 20px auto 0px auto;
  padding: 30px 30px;
  border-radius: 12px;
}

.modal-form-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_body {
  display: flex;
  align-items: center;
}

.sidebar-logo {
  display: block;
  margin: 0px 0px 0px 0px;
  img {
    max-width: 165px;
    max-height: 41px;
  }
}

.left-sidebar {
  padding: 54px 15px;
  max-width: 265px;
  transition: all ease 0.3s;
}
.sidebar-nav {
  .small-cap {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #888888;
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4fdc90;
    padding: 3px 12px 1px 10px;
    max-width: 103px;
    border-radius: 6px;
    .label-img {
      max-width: 30px;
    }
    .label-name {
      font-size: 14px;
      line-height: 130%;
      font-weight: normal;
      color: var(--white);
      padding: 0px 0px 0px 4px;
    }
  }
  .navigation-bar {
    li {
      width: fit-content;
      .navigation-link {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 120%;
        color: var(--black);
        transition: all ease 0.3s;
        padding: 0px 0px 23px 0px;
        .navigation-img {
          padding: 0px 14px 0px 0px;
          max-width: 44px;
          max-height: 44px;
        }
        &:hover {
          transform: translateX(6px);
        }
        .noty {
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          border-radius: 12px;
          padding: 4px 8px;
          margin: 0px 0px 0px 10px;
          color: var(--white);
          background-color: var(--orange);
        }
      }
    }
  }
}
.profile-img-text {
  display: flex;
  align-items: center;
  padding: 28px 0px 10px 0px;
  .profile-img {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
  }
  .profile-text {
    padding: 0px 0px 0px 15px;
    .name {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.3px;
      color: var(--black);
      padding: 0px 0px 2px 0px;
    }
    .id {
      font-size: 14px;
      line-height: 130%;
      color: #888888;
    }
  }
}
.scroll-level {
  padding: 12px 0px 24px 0px;
  .scroll-level-text {
    display: flex;
    align-items: center;
    padding: 0px 0px 9px 0px;
    .queue {
      font-size: 14px;
      line-height: 130%;
      color: #9c29ae;
      padding: 0px 7px 0px 9px;
      &.got {
        color: #0c9d4f;
      }
    }
    .amount {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 130%;
      color: #888888;
      .elipse-icon {
        padding: 0px 7px 0px 0px;
      }
    }
  }
  .scroll-level-item {
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    max-width: 260px;
    height: 4px;
    .scroll-level-line {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #9c29ae;
      border-radius: 2px;
      &.got {
        background-color: #0c9d4f;
      }
    }
  }
}

//burger
#nav-icon2 {
  width: 36px;
  height: 27px;
  position: relative;
  margin: 15px 0px 0px 25px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 15;
}
.nav-icon2 {
  display: none;
  position: relative;
  @media (max-width: 768px) {
    display: block;
  }
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: var(--blue);
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}
#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 11px;
}
#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 22px;
}
#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  transform: rotate(45deg);
}
#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  transform: rotate(-45deg);
}
#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}
#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 15px;
}
#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 15px;
}

.logo-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}

.left-block {
  position: fixed;
  padding: 0px 15px 0px 0px;
  max-width: 265px;
  left: 0;
  top: 0px;
  height: 100%;
  background-color: #e5e5e5;
  z-index: 10;
  transition: all ease 0.3s;
  @media (max-width: 768px) {
    left: -100%;
    &.open {
      left: 0;
    }
  }
}

main {
  display: flex;
}

header {
  padding: 30px 0px 30px 0px;
  width: 100%;
  max-width: 641px;
  @media (max-width: 768px) {
    padding: 20px 0px 15px 0px;
  }
}
.header-body {
  overflow-x: auto;
  padding: 0px 0px 15px 0px;
  scrollbar-color: var(--blue) #f4f0eb; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 7px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: #f4f0eb;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 6px;
    &:hover {
      background-color: var(--blue-hov);
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      .header-link {
        font-size: 18px;
        line-height: 100%;
        color: #888888;
        transition: all ease 0.3s;
        white-space: nowrap;
        margin: 0px 20px 0px 0px;
        &:hover {
          color: #474747;
        }
      }
    }
  }
}
.main-wrapper {
  width: 100%;
  padding: 0px 15px 40px 265px;
  @media (max-width: 768px) {
    padding: 0px 10px 0px 10px;
  }
}
.content-wrapper {
  max-width: 860px;
  margin: 0 auto;
}
.schedule-block-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #888888;
  padding: 0px 30px 0px 30px;
  @media (max-width: 991px) {
    padding: 0px 15px;
  }
}
.schedule-block {
  padding: 30px 0px;
  background-color: var(--white);
  border-radius: 12px;
  margin: 0px 0px 20px 0px;
}
.tabs {
}

.tabs__nav {
  display: flex;
  padding: 18px 30px 20px 30px;
  @media (max-width: 991px) {
    padding: 18px 15px 20px 15px;
  }
}

.tabs__nav-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: var(--sea-blue);
  padding: 6px 12px;
  border-radius: 10px;
  background-color: var(--white);
  transition: all ease 0.3s;
  margin: 0px 5px 0px 0px;
}

.tabs__nav-btn:last-child {
  border-right: none;
}

.tabs__nav-btn:hover {
  background-color: var(--sea-blue);
  color: #fff;
}

.tabs__nav-btn.active {
  background-color: var(--sea-blue);
  color: #fff;
}

.tabs__content {
  padding: 0px;
  background-color: #fff;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.subtabs__item {
  display: none;
  &.active {
    display: block;
  }
}
.subtabs__nav {
  display: flex;
  width: 100%;
  padding: 13px 30px;
  background-color: #fafafa;
  max-width: 860px;
  overflow-x: auto;
  scrollbar-color: var(--blue) #f4f0eb; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: #f4f0eb;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 6px;
    &:hover {
      background-color: var(--blue-hov);
    }
  }
  @media (max-width: 991px) {
    padding: 13px 15px;
  }
}
.subtabs-nav-btn {
  background-color: var(--white);
  padding: 0px 5px 0px 5px;
  margin: 0px 30px 0px 0px;
  font-size: 18px;
  line-height: 100%;
  color: #888888;
  position: relative;
  background-color: unset;
  transition: all ease 0.3s;
  &:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--blue);
    left: 50%;
    bottom: -10px;
    transition: all ease 0.3s;
  }
  &:hover {
    color: var(--sea-blue);
  }
  @media (max-width: 991px) {
    margin: 0px 20px 0px 0px;
  }
}
.subtabs-nav-btn.active {
  color: var(--sea-blue);

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    left: 0;
    bottom: -10px;
  }
}
.subtabs__content {
  padding: 20px 20px;
  @media (max-width: 991px) {
    padding: 20px 15px;
  }
}
.schedule-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}
.schedule-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px 20px;
  @media (max-width: 991px) {
    padding: 15px 15px;
  }
  .head-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: var(--black);
    letter-spacing: -0.3px;
  }
  .light-cap {
    font-size: 18px;
    line-height: 100%;
    color: #888888;
    padding: 10px 0px 20px 0px;
    &.error {
      color: #fe5244;
    }
  }
  .payment-input {
    font-size: 18px;
    line-height: 100%;
    width: 100%;
    height: 50px;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 16px 20px;
    margin: 0px 0px 6px 0px;
    &::placeholder {
      font-size: 18px;
      line-height: 100%;
      color: #888888;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &.error {
      border: 1px solid #fe5244;
    }
  }
  .schedule-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    padding: 11px 0px;
    transition: all ease 0.3s;
    font-size: 18px;
    line-height: 100%;
    &:hover {
      background-color: var(--blue-hov);
    }
  }
}
.confirmed-block {
  border-radius: 12px;
  padding: 20px 20px;
  background-color: var(--dark-green);
  .head-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: var(--white);
    letter-spacing: -0.3px;
  }
  .checked-img {
    img {
      max-width: 100px;
      max-height: 100px;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0px;
  }
  .confirmed-text {
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
  }
}

.buger-logo {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;

  @media (max-width: 768px) {
    display: flex;
  }
}

//table
@media screen and (max-width: 991px) {
  table.payment-schedule thead {
    display: none;
  }
  table.payment-schedule tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table.payment-schedule td {
    display: block;
    text-align: right;
  }
  table.payment-schedule td:before {
    content: attr(aria-label);
    float: left;
    text-align: start;
    color: #888888;
    max-width: 200px;
    overflow: hidden;
    max-height: 19px;
  }
}
.payment-schedule {
  width: 100%;
}
.history-table {
  padding: 0px 0px;
  tr {
  }
  th {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #888888;
    text-align: start;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    &:nth-child(1) {
      padding: 0px 0px 0px 30px;
    }
    &:nth-last-child() {
      padding: 0px 30px 0px 0px;
    }
  }
  td {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: var(--black);
    padding: 16px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid #f5f5f5;
    @media (max-width: 991px) {
      margin: 0px 15px;
      padding: 10px 0px;
    }
    &:nth-child(1) {
      padding: 0px 0px 0px 30px;
      @media (max-width: 991px) {
        padding: 0px 0px 10px 0px;
      }
    }
    &.payed {
      color: var(--green);
    }
    &.unpaid {
      color: var(--orange);
    }
  }
}
.forms-wrapper {
  background: url(../img/bench-accounting.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
}

.forms-block {
  margin: 0 auto;
  padding: 60px 10px 425px 10px;

  @media (max-width: 768px) {
    padding: 20px 10px 425px 10px;
  }
}
.forms-content {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  height: 100%;
}
.regist-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  .logo {
    img {
      max-width: 160px;
      max-height: 41px;
      object-fit: cover;
    }
  }
  .call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(5, 180, 205, 0.1);
    border-radius: 15px;
    color: var(--sea-blue);
    padding: 6px 10px;
    width: 100%;
    max-width: 130px;
    transition: all ease 0.3s;
    &:hover {
      background: rgba(5, 178, 205, 0.342);
    }
  }
  margin: 0px 0px 40px 0px;
}

.personal-form {
}
.personal-form-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  margin: 0px 0px 40px 0px;

  letter-spacing: -0.3px;

  color: #000000;
}

//float label

.floating {
  margin: 0px 0px 10px 0px;
  background-color: var(--white);
  transition: background-color 0.2s ease;
  border-radius: 6px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  &:hover {
    border: 1px solid #05b4cd;
  }
}
.floating:hover,
.floating:focus-within {
  background-color: var(--white);
}
.floating__input {
  padding: 20px 44px 7px 20px;
  font-size: 17px;
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
  border: unset;
  width: 100%;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.floating__input::-webkit-outer-spin-button,
.floating__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.floating:hover .floating__input {
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 20px;
  position: relative;
  font-size: 17px;
  line-height: 100%;
  color: #888888;
}

.floating__label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--color__accent);
}

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  top: 0px;
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -2.9rem, 0) scale3d(0.82, 0.82, 1);
  font-size: 15px;
  line-height: 100%;
  color: #888888;
  top: 0px;
}

.floating__input:focus + .floating__label::before {
  font-size: 12px;
  line-height: 100%;
  color: #888888;
  top: 0px;
}
.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.input__username {
  background: none;
  border-width: 0;
  display: block;
  width: 100%;
}

.toggle-password-icon {
  position: absolute;
  right: 18px;
  bottom: 15px;
  img {
    cursor: pointer;
    max-width: 20px;
    max-height: 16px;
  }
}

.form-btns {
  display: flex;
  flex-direction: column;
  margin: 16px 0px 0px 0px;
}
.sing-up-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  height: 50px;
  line-height: 100%;
  padding: 16px 20px;
  background: var(--blue);
  border-radius: 8px;
  color: var(--white);
  transition: all ease 0.3s;
  &:hover {
    background: var(--blue-hov);
  }
}
.log-in-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  height: 50px;
  line-height: 100%;
  padding: 16px 20px;
  background: rgba(5, 180, 205, 0.1);
  border-radius: 8px;
  color: var(--sea-blue);
  transition: all ease 0.3s;
  &:hover {
    background: rgba(5, 178, 205, 0.288);
  }
  margin: 10px 0px 0px 0px;
}
.toggle-password-icon.view {
  &::after {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    background-color: #8a91a7;
    top: 7px;
    left: -2px;
    transform: rotate(-39deg);
  }
}

.restore-password-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  color: #888888;
  margin: 0px 0px 16px 0px;
  img {
    max-width: 23px;
    max-height: 23px;
    margin: 0px 5px 0px 0px;
  }
}

.sing-up-btn.to-send-apply {
  color: #767069;
  background: #d6d2cd;
  &:hover {
    background: #b4b1ac;
  }
}

.restore-passwored-done {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  font-size: 18px;
  height: 50px;
  line-height: 100%;
  padding: 16px 20px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  color: var(--black);
  transition: all ease 0.3s;
  p {
    margin: 0px 10px 0px 0px;
    max-width: 300px;
    overflow: hidden;
  }
  img {
    max-width: 22px;
    max-height: 22px;
  }
}

.cards-wrapper {
}
.cards-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 30px;
  justify-items: center;
  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
    row-gap: 20px;
  }
  @media (max-width: 420px) {
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
}
.cards-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 10px 30px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  padding: 64px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:nth-child(1) {
    background: #fa8d9d;
  }
  &:nth-child(2) {
    background: #759bf0;
  }
  &:nth-child(3) {
    background: #f9cf67;
  }
  &:nth-child(4) {
    background: #d7b082;
  }
  &:nth-child(5) {
    background: #b08ad1;
  }
  &:nth-child(6) {
    background: #8bd18a;
  }
  transition: all ease 0.3s;
  &:hover {
    transform: translateY(-9px);
  }
}
.cards-img {
  max-width: 121px;
  max-height: 112px;
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.cards-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 22px 0px 0px 0px;
}
.my-datas {
  .form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 25px 0px;
  }
}

.my-datas-form {
  padding: 35px 35px 35px 35px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 10px 30px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  background-color: var(--white);
  margin: 0px 0px 40px 0px;
  @media (max-width: 768px) {
    padding: 20px 20px;
  }
  .form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 25px 0px;
  }
  .form-body {
    margin: 0px 0px 20px 0px;
    .double-input {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 0px;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
    .triple-input {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 0px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }
  }
  .personal-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    /* identical to box height, or 33px */

    letter-spacing: -0.3px;
    margin: -15px 0px 15px 0px;
    padding: 0px 0px 17px 0px;
    color: #000000;
    border-bottom: 2px solid #f5f5f5;
  }
}
.my-datas-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #888888;
}
.x-burger {
  cursor: pointer;
}

.form-body.ready {
  .border-item {
    border-bottom: 2px solid #f5f5f5;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    @media (max-width: 991px) {
      border-bottom: unset;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
    &:last-child {
      border-bottom: unset;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      @media (max-width: 991px) {
        padding: 15px 0px 0px 0px;
      }
    }
  }
  .date-info-item {
    .label {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 100%;
      color: #888888;
      margin: 0px 0px 6px 0px;
    }
    .data-text-info {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.3px;
      color: #000000;
    }
  }
  .date-info-item {
    @media (max-width: 991px) {
      border-bottom: 2px solid #f5f5f5;
      padding: 15px 0px 15px 0px;
      margin: 0px 0px 0px 0px;
    }
  }
}
.search-item {
  display: flex;
  align-items: center;
  .search-input {
    display: none;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    margin: 0px 10px 0px 0px;
    &.appear {
      display: block;
    }
  }
}

.my-contracts {
  background: var(--white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 10px 30px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  padding: 30px 0px 20px 0px;
  .form-head {
    padding: 0px 30px;
  }
}
.my-contracts-body {
  .my-contracts-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    padding: 13px 30px;
    transition: all ease 0.3s;
    cursor: pointer;
    &:hover {
      background: #fcfcfc;
      box-shadow: inset 0px 1px 0px #f5f5f5;
    }
    &:hover .hover-text {
      color: var(--sea-blue);
    }
    &:first-child {
      border-top: 1px solid #f5f5f5;
    }
    .item-left {
      display: flex;
      align-items: center;
      img {
        max-width: 30px;
        max-height: 30px;
        object-fit: cover;
        margin: 0px 10px 0px 0px;
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
        margin: 0px 5px 0px 0px;
        transition: all ease 0.2s;
      }
      span {
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #888888;
        transition: all ease 0.2s;
      }
    }
  }
}
